<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
    <script src="https://kit.fontawesome.com/35387aca45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>Fanatasy League - {{ title }}</title>
    {% else %}
        <title>Fanatasy League</title>
    {% endif %}
</head>
<body>
    <div class="content">

    {% set LOGIN_REQUIRED = true %}

    <!-- Bootstrap Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="fas fa-baseball-ball" id="brand" href="home"></a>

        <div class="text-xs-center">
            {% if title %}
                <h2 id="banner">MLB Fantasy League - {{ title }}</h2>
            {% else %}
                <h2 id="banner">MLB Fantasy League</h2>
            {% endif %}
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

             {% if current_user.is_authenticated and current_user.username == 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
            </li>
            {% endif %}

            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('home') }}">Team Info
                <span class="sr-only">(current)</span>
              </a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('teams') }}">Search by Team</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('search') }}">Search by Player</a>
            </li>

            {% if LOGIN_REQUIRED %}
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('account') }}">Account</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>

                {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}

</div>  <!-- class="content"   -->

<footer class="footer">
    <span id="footer-span">
        <small><p class="copy">Copyright &copy; <a href="https://www.davidalley.net/" target="_blank">David Alley <i class="fas fa-external-link-alt"></i></a></p></small>
        <small class="copy" id="year">2019</small>
    </span>

</footer>

<!-- Optional JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- <script>window.jQuery || document.write('<script src="{{ url_for('static', filename = 'jquery-1.4.2.min.js') }}">\x3C/script>')</script> -->
<script src = "{{ url_for('static', filename = 'bootstrap.bundle.min.js') }}"></script>
<script src = "{{ url_for('static', filename = 'jquery.copyRight.js') }}" ></script>
<script src = "{{ url_for('static', filename = 'script.js') }}" ></script>

</body>
</html>
