:root {
--dark: #343a40;
}

body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 10px;
    margin-left: 10px;
}

a {
    color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#home {
    margin: 20px auto auto 10px;
}
#banner {
    /* text-align: center; */
    color: #fff;
    margin: auto;
}

#brand {
    color: #eee;
    margin-right: 40px;
}

#mlb {
    /* flex-direction: column; */
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.league {
    margin: 0px;
    padding: 0px;
    border: .5px solid black;
}

/* contained within mlb */
/* container for al-xxx divisions */
#al {
    background-color: red;
    flex-direction: column;
    justify-content: space-evenly;
    order: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-family: Verdana, Geneva, sans-serif;
}

/* contained within mlb */
/* container for nl-xxx divisions */
#nl {
    background: blue;
    flex-direction: column;
    justify-content: space-evenly;
    order: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-family: Verdana, Geneva, sans-serif;
}

.division {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid black;
}

.division h4 { margin-left: 10px; }

/* contained within al (league) */
/* container for individual teams */
#al-east {
    flex-direction: column;
    order: 1;
    background-color: #e55039;
}

#al-central {
    flex-direction: column;
    order: 2;
    background-color: #ee5253;
}

#al-west {
    flex-direction: column;
    order: 3;
    background-color: #e74c3c;
}

#nl-east {
    flex-direction: column;
    order: 1;
    background-color: #4a69bd;
}

#nl-central {
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    order: 2;
    background-color: #2980b9;
}

#nl-west {
    flex-direction: column;
    order: 3;
    background-color: #54a0ff;
}

.team {
    margin: 0px auto;
    padding: 0px;

}

img {
    margin: 0px 10px;
}
.team-logo {
  width:  25px;
  height: 25px;
  vertical-align: middle;
}

.team-name {
    min-width: 190px;
}

.team-link {
  background-color: inherit;
  border: none;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.team-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.stat-logo {
    width: 15px;
    height: 15px;
    padding: 10px;
}

.each-player {
    min-height: 35px;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0 auto;
    padding: 0;
    vertical-align: middle;
}

.player-pic {
    height: 50px;
    width: auto;
    margin: 10px;
    vertical-align: middle;
}

.player-search button {
    height: 20px;
    font-size: 16px;
}

footer {
    /* margin: 0px;
    padding: 0px; */
    background-color: var(--dark);
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    font-family: Verdana;
}

#footer-span {
    color: #bbb;
}


.copy {
    display: inline-block;
    margin: 0px auto 10px auto;
}

.copy a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

.copy a:hover {
  text-decoration: none;
  font-style: italic;
}

/* https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}


.card-info {
  border: 0;
  border-radius: 1rem;
  width: 25rem;
  padding: 1.5rem;
}

.card-info .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}


.register-view {
    background-image: url("field.jpg");
    padding: 30px;
    height: 100%;
}

.account-view {
    background-image: url("field.jpg");
    padding: 30px;
    height: 100%;
}

.account-img {
    height: 50px;
    width: 50px;
    border: 1px solid #444;
}

.login-view {
    background-image: url("field.jpg");
    padding: 30px;
    height: 100%;
}

@media (max-width: 700px) {
  #al #nl {
    max-width: 50%;
  }
  h2 {
      font-size: 1.25rem;
  }
}

@media (max-width: 500px) {
    .card-info {
        width: 90%;
    }
    .card-info .card-title {
      font-size: 1.25rem;
    }
}


@media (max-width: 400px) {
  #al #nl  {
    max-width: 100%;
  }
  h2 {
      font-size: 1.25rem;
  }
  .card-info {
      width: 100%;
  }
  .card-info .card-title {
    font-size: 1rem;
  }
}

.alert {
    margin-bottom: 0;
}
